&nbsp;&nbsp;Map Related <br/>
<ol>
  <li><a href='/api/v1/pings/20171020/20171027/swlat/swlon/nelat/nelon'>PingsOnMapViewportDates</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/20171020/20171027/globalcount'>GlobalCountPingsDates</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/20171020/20171027/country'>CountryPingsDates</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/20171020/20171027/state'>StatePingsDates</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/20171020/20171027/city'>CityPingsDates</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/20171020/20171027/swlat/swlon/nelat/nelon/viewport'>ViewportPingsDates</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/20171020/20171027/swlat/swlon/nelat/nelon/viewport/user'>UserViewportPingsDates</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/20171020/20171027/swlat/swlon/nelat/nelon/country'>CountryPingsViewportAndDates</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/20171020/20171027/swlat/swlon/nelat/nelon/state'>StatePingsViewportAndDates</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/20171020/20171027/swlat/swlon/nelat/nelon/city'>CityPingsViewportAndDates</a></li>
</ol>
<br/>
<br/>
&nbsp;&nbsp;Ping Types <br/>
<ol>
  <li><a href='/api/v1/pings/parents'>MasterPings</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/20170105/20171030/top_parents'>top_parent_pings</a></li>
<br/>
<br/>
<li><a href='/api/v1/pings/top_child_pings_all_time'>top_child_pings_all_time</a></li>
<br/>
<br/>
<li><a href='/api/v1/pings/EMOTION'>ChildrenOfParentPing</a></li>
</ol>
<br/>
<br/>
&nbsp;&nbsp;User Related <br/>
<ol>
  <li><a href='/api/v1/pings/isloggedin'>IsLoggedIn</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/20170101/20171001/timeline'>TimelinePings</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/usergeoinfo'>UserGeoInfo</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/getuserinfo/userid'>UserInfo</a></li>
<br/>
<br/>

</ol>
&nbsp;&nbsp;Ping Create/Update Related <br/>
<ol>
  <li><a href='/api/v1/ping/create'>CreatePing</a></li>
<br/>
<br/>
  <li><a href='/api/v1/ping/update/id'>UpdatePing</a></li>
  </ol>
<br/>
<br/>
&nbsp;&nbsp;Admin Related <br/>
<ol>
  <li><a href='/api/v1/users/activecount'>Active Users Count</a></li>
<br/>
<br/>
  <li><a href='/api/v1/users/inactivecount'>InActive Users Count</a></li>
<br/>
<br/>
  <li><a href='/api/v1/users/totalcount'>TotalUsers Count</a></li>
<br/>
<br/>
  <li><a href='/api/v1/pings/pingcountinviewport'>PingCountInViewPort</a></li>
 </ol>
<br/>
<br/>
&nbsp;&nbsp;Charts/Analytics Related <br/>
<ol>
  <li><a href='/api/v1/pings/20170101/20171030/pie'>PieChart</a></li>
<br/>
<br/>
<li><a href='/api/v1/pings/20170101/20171030/bar'>BarChart</a></li>
<br/>
<br/>
<li><a href='/api/v1/pings/20170101/20171030/wordc'>WordCloud</a></li>
<br/>
<br/>
<li><a href='/api/v1/pings/20170101/20171030/top5'>Top5</a></li>
<br/>
<br/>
<li><a href='/api/v1/pings/globalpingcount'>GlobalPingCount</a></li>
<br/>
<br/>
<li><a href='/api/v1/pings/20170130/201701001/globalcount'>GlobalPingCountBetweenDates</a></li>
<br/>
<br/>
<li><a href='/api/v1/a/pings/lastd/count'>LastDay</a></li>
<br/>
<br/>
<li><a href='/api/v1/a/pings/lastw/count'>LastWeek</a></li>
<br/>
<br/>
<li><a href='/api/v1/a/pings/lasth/count'>LastHour</a></li>
<br/>
<br/>
<li><a href='/api/v1/a/pings/lastm/count'>LastMonth</a></li>
</ol>
